#include "windows.h"
#include "weeide_resource.bi"

#define IDC_STATIC                      (-1)

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "res\weeide.exe.manifest"

IDI_WEEIDE_SMALL ICON DISCARDABLE "res\weeide_small.ico"
IDI_WEEIDE_LARGE ICON DISCARDABLE "res\weeide_large.ico"
IDI_WEEIDE ICON DISCARDABLE       "res\weeide.ico"

IDI_DOCUMENT_SMALL ICON DISCARDABLE "res\document_small.ico"
IDI_DOCUMENT_LARGE ICON DISCARDABLE "res\document_large.ico"
IDI_DOCUMENT ICON DISCARDABLE       "res\document.ico"

IDD_ABOUT DIALOGEX DISCARDABLE  0, 0, 215, 140
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About Wee IDE for FreeBASIC"
FONT 8, "MS Sans Serif"
BEGIN
	ICON            "",IDC_ABOUT_ICON,15,15,21,20
	LTEXT           "Wee IDE for FreeBASIC",IDC_ABOUT_TITLE,70,5,140,20
	LTEXT           "Copyright 2007-2018 - Jeff Marshall",IDC_ABOUT_COPYRIGHT,70,25,140,15
	LTEXT           "Version 1.2",IDC_ABOUT_VERSION,70,40,140,15
	LTEXT           "",IDC_ABOUT_DESCRIPTION,5,60,200,35
	DEFPUSHBUTTON   "OK",IDOK,160,110,50,14
END

IDD_FIND DIALOGEX 0, 0, 274, 82
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Find"
FONT 8, "MS Sans Serif"
BEGIN
	LTEXT           "Fi&nd what:",IDC_FIND_LABEL, 7, 7, 37, 13, SS_CENTERIMAGE
	COMBOBOX        IDC_FIND, 48, 7, 145, 12, CBS_DROPDOWN | CBS_SORT | WS_VSCROLL | WS_TABSTOP | WS_GROUP
	CONTROL         "Match &whole word only", IDC_MATCHWORD, "Button",  BS_AUTOCHECKBOX | WS_TABSTOP | WS_GROUP, 7, 27, 100, 12
	CONTROL         "Match &case", IDC_MATCHCASE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP | WS_GROUP, 7, 39, 100, 12
	CONTROL         "Search &all open documents", IDC_SEARCHALL, "Button",  BS_AUTOCHECKBOX | WS_TABSTOP | WS_GROUP, 7, 51, 100, 12
	GROUPBOX        "Direction", IDC_DIRECTION, 119, 34, 74, 35, WS_GROUP
	CONTROL         "&Up", IDC_DIRECTION_UP, "Button", BS_AUTORADIOBUTTON | BS_VCENTER | WS_TABSTOP | WS_GROUP, 124, 44, 54, 10
	CONTROL         "&Down", IDC_DIRECTION_DOWN, "Button", BS_AUTORADIOBUTTON | BS_VCENTER | WS_TABSTOP, 124, 55, 56, 10
	DEFPUSHBUTTON   "&Find Next", IDOK, 213, 7, 50, 14, WS_GROUP
	PUSHBUTTON      "Cancel", IDCANCEL, 213, 26, 50, 14, WS_GROUP
END

IDD_LOGIN DIALOGEX DISCARDABLE  6, 6, 187, 111
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Login"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "&Username:",IDC_STATIC,15,15,44,8
    GROUPBOX        "",IDC_STATIC,5,5,175,75
    EDITTEXT        IDC_LOGIN_USER,15,25,155,15,ES_AUTOHSCROLL
    LTEXT           "&Password:",IDC_STATIC,15,45,44,8
    EDITTEXT        IDC_LOGIN_PWD,15,55,155,15,ES_PASSWORD | ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,35,90,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,100,90,50,14
END

IDD_SPELLCHECK DIALOG DISCARDABLE  0, 0, 163, 141
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Spell Check"
FONT 8, "MS Sans Serif"
BEGIN

    LTEXT           "&Word not found:",IDC_SPELL_WORD_LABEL,7,7,75,11
    EDITTEXT        IDC_SPELL_WORD_EDIT,7,18,89,14,ES_AUTOHSCROLL
    LTEXT           "&Suggestions:",IDC_SPELL_SUGGEST_LABEL,7,39,75,11
    LISTBOX         IDC_SPELL_SUGGEST_LIST,7,50,89,84,LBS_SORT | 
                    LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_HSCROLL |
                    WS_TABSTOP
    DEFPUSHBUTTON   "&Ignore",IDC_SPELL_IGNORE,106,18,50,14
    PUSHBUTTON      "I&gnore All",IDC_SPELL_IGNORE_ALL,106,34,50,14
    PUSHBUTTON      "&Add",IDC_SPELL_ADD,106,50,50,14
    PUSHBUTTON      "&Change",IDC_SPELL_CHANGE,106,66,50,14
    PUSHBUTTON      "Change A&ll",IDC_SPELL_CHANGE_ALL,106,82,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,106,120,50,14
END

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,2,0,0
 PRODUCTVERSION 1,2,0,0
 FILEFLAGSMASK 0x3fL
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904b0"
		BEGIN
			VALUE "Comments", "Minimal Wiki IDE for FreeBASIC\0"
			VALUE "CompanyName", "Jeff Marshall\0"
			VALUE "FileDescription", "WeeIDE for FreeBASIC\0"
			VALUE "FileVersion", "1.2.0.0\0"
			VALUE "InternalName", "weeide\0"
			VALUE "LegalCopyright", "Copyright © 2007-2018\0"
			VALUE "OriginalFilename", "weeide.exe\0"
			VALUE "ProductName", "Jeff Marshall's Wee IDE for FreeBASIC\0"
			VALUE "ProductVersion", "1.2.0.0\0"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1200
	END
END
